.contact_container {
    
    background-color: var(--bg);
    color: var(--text);

    /* Layout do container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 80vh;
    gap: 30px; 
    flex-wrap: wrap; 
}

/* Seção de Informações (Esquerda) */
.info_section {
    text-align: center;
}

.info_section h2 {
    font-size: 48px; 
    margin-bottom: 30px;
}

.info_section p {
    font-size: 18px; 
    line-height: 1.5;
    margin: 0;
}

/* Seção do Formulário (Direita) */
.form_section form {
    display: flex;
    flex-direction: column;
    width: 350px; 
    gap: 15px;
}

.form_section input,
.form_section textarea {
    background-color: color-mix(in srgb, var(--bg) 90%, rgb(3, 3, 3)); 
    border: none;
    border-radius: 8px; 
    padding: 15px;
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box; 
}

.form_section textarea {
    resize: none;
}

.form_section button {
    background-color: var(--crayola-blue); 
    color: #ffffff; 
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_section button:hover {
    background-color: var(--marian-blue); 
}

@media (prefers-color-scheme: dark) {
.form_section input,
.form_section textarea {
    background-color: color-mix(in srgb, var(--bg) 20%, rgb(0, 0, 0)); 
}
}
