/* NavBar */
.navBar {
  min-height: 120px;
  background-color: black;
}


.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 40%;
  padding: 2rem;

  h2 {
    user-select: none;
  }

  img {
    height: 2rem;
  }

  input {
    position: absolute;

    background-color: var(--bg);
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    padding-left: 40px;
    color: var(--text);
    height: 35px;
  }
}

.searchBar {
  position: relative;
  width: 100%;
  height: 35px;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.filter {
  display: flex;
  gap: 20px;
  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #666; 
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    user-select: none;
    cursor: pointer;
  }

  a:hover {
    border-bottom: 1px solid var(--text);
  }

  a.selected {
    border-bottom: 1px solid var(--text);
    color: var(--text); 
  }
}

.questions {
  display: grid;
  grid: 1fr / 1fr 3fr 1fr;
  max-width: 1200px;
  padding: 2rem;
  a {
    display: contents;
  }
}

.quComponents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exComponent {
  width: 100%;
  height: 200px;
  border: 1px solid var(--text);
  border-radius: 5px;
}

.questions .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons button {
  font-size: 1rem;
  user-select: none;
  background-color: var(--crayola-blue);
  color: #fff;
  width: 90%;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.3s;
}

.buttons button:hover {
  width: 100%;
}


/* Responsivity */
@media (max-width: 768px) {
  .questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .exComponent {
    width: 350px;
  }

  .buttons button {
    width: 100%;
  }

  .buttons button:hover {
    width: 95%;  
  }
}

/*
@media (prefers-color-scheme: dark) {
  .buttons button {
    background-color: var(--picton-blue);
  }
}
*/