main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 10px;
}

a{
    color: inherit;
}   

/*Padronizações*/
/*Titulos*/
.sectionTitle{
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;
    align-items: center;
}

.sectionTitle h4{
    font-size: 1rem;
    font-weight: 400;
}

/*Botões*/
.linkButton {
    position: relative;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: inherit;
    border: 1px solid var(--text);
    transition: padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.linkButton:hover{
    padding: 10px 27px;
    opacity: 0.95;
}

/*Seções*/
/*Seção Hero*/
.heroSection{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.heroSection .heroButtons{
    display: flex;
    gap: 25px;
    flex-flow: column nowrap;
    align-items: center;
}

.arrowButton{
    position: absolute;
    cursor: pointer;
    bottom: 50px;
    text-decoration: none;
    color: inherit;
    animation: bounce 2s ease-in-out infinite;
}

/*Seção Rates*/
.ratingSection{
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;
        align-items: center;
}

.ratingContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}

/*Seção Members*/
.membersSection{
    padding: 50px 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.membersImage{
    display: grid;
    height: 450px;
    width: 450px;
    gap: 20px;
    grid: 1fr 1fr / 1fr 1fr;
}

.imageIcon{
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;

    background-color: black;

}

.nameIcon {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.vini{
    background-image: url("/people/vini.png");
    background-size: cover;
    background-position: center;
}

.gui{
    background-image: url("/people/gui.png");
    background-size: cover;
    background-position: center;
}

.caze{
    background-image: url("/people/gus.png");
    background-size: cover;
    background-position: center;
}

.em{
    background-image: url("/people/manu.png");
    background-size: cover;
    background-position: center;
}

/*Seção Sobre*/

.imageAbout{
    width: 250px;
    height: 250px;
}

.aboutSection{
    padding: 100px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 40px;
    width: 50%;
}

.tittleAbout{
    padding: 30px;
    gap: 50px;
    align-items: center;
}

.aboutP{
    width: 250px;
    align-self: flex-start;
}

/*Animações*/
@keyframes bounce{
    0%, 100% {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

}
