main#loginContainer {
	height: 100vh !important;
	align-items: center;
	justify-content: center;
}

main#loginContainer::before {
	content: ""; /* Essential to generate the pseudo-element */
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1; /* Places the pseudo-element behind the content of the main */
	pointer-events: none;

	/* Apply background and filter here */
	background-image: var(--question);
	background-size: 70px;
	animation: movingQuestion 7s linear infinite;

	opacity: 0.1; /* Example filter: opacity */
}

main#loginContainer h2 {
	margin-bottom: 10px;
}

@keyframes movingQuestion {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 70px -70px;
	}
}

div.formContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;

	width: 400px;

	border: 1px solid var(--text);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #333;
	padding: 1.5rem;

	background-color: var(--bg);
}

section.top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form.loginForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form.loginForm button.formSubmitButton {
	align-self: center;

	font-size: 1rem;
	user-select: none;
	background-color: var(--crayola-blue);
	color: var(--bg);
	width: 55%;
	padding: 0.5rem 0.5rem;
	margin-top: 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: width 0.3s;
}

form.loginForm button.formSubmitButton:hover {
	width: 60%;
}

form.loginForm label.formCheckboxLabel {
	display: flex;
	justify-content: center;
	gap: 20px;

	input[type="checkbox"] {
		width: fit-content;
	}
}

form.loginForm a {
  width: fit-content;
  align-self: center;
  padding: 0.25rem 0;
}