.popUpContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem;

  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: 5px;

  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2;
}

.popUpContainer>a {
  background-color: var(--bg);
  border-radius: 5px;
  text-decoration: none;
  user-select: none;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s;
  padding: 5px 0px;
}

.popUpContainer>a:hover {
  background-color: var(--picton-blue);
}

.popUpContainer button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  background-color: var(--picton-blue);
  color: #000;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

button#close {
  padding: 0;
}

.userImage {
  border-radius: 50%;
}

.popUpContainer button.translate:hover {
  transform: translateY(-2px);
}

.top {
  display: grid;
  grid: 1fr / 3fr 1fr;
  align-items: center;
  width: 100%;
}

.top>button {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  user-select: none;
}

.top span {
  font-weight: 600;
  color: var(--crayola-blue)
}